* {
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.navBar {
    padding: 60px 0;
    display: flex;
}

.navBar .icon {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.navBar .icon .menuIcon {
    display: none;
}

.navBar .menu {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navBar .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navBar .menu li  {
    display: inline;
}

.navBar .menu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0 15px;
}

@media only screen and (max-width: 992px) {
    
}
@media only screen and (max-width: 600px) {
    .navBar .menu ul .link {
        display: none;
    }
    .navBar .icon .menuIcon {
        display: block;
        margin-right: 30px;
    }
    .navBar .menu li a i {
        margin-top: 5px;
    }
}